@charset "utf-8";

.jumbotron {
	padding: 10em;
}

.jumbotron_gbot_c1 {
	background-image: url("images/alien_bg2.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
	background-size: cover
}

.dl-horizontal dt{
	width: 80px; /*override for  .dl-horizontal dt*/
}
.dl-horizontal dd{
	margin-left: 90px; /*override for  .dl-horizontal dd*/
}

.gbot_graph_box {
	height: 700px;
}

#gbot_graph_box_row {
    padding: 5px;
}

#nodegraph-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:120px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #A49987;
    padding:10px;
    text-align: center;
}